.footer {
  background-color: #2d2d2d;
  .section-title{
   
  }
  padding-top: 0;
	&__map-wrap{
    height: 100%;
    // position: relative;
    min-height: 400px;
  }
  &__map{
    @include media-breakpoint-up(lg) {
      left: auto;
      right: 0;
      width: 50vw;
    // margin-left: 0;
    transform: translateX(0%);
    }
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    position: absolute;
    z-index: 10;
  }
  .section-title{
    position: relative;
    padding: 0;
		&__lg{
      right: 6%;
      top: em(-12);
		}
	}

 &__row{
  @include media-breakpoint-up(xxxl) {

    @include roww(88);
  }
  
  @include media-breakpoint-up(xl) {

    @include roww(28);
  }

 }
 &__contact-block{
   padding-top: rem(48);
  //  position: relative;
   padding-bottom: rem(25);
   z-index: 2;
   
   .section-title{
     padding-bottom: rem(35);
   }
 }
 &__text{
   @include rfs(rem(36));
   font-weight: 500;
   color: #ffffff;
   padding-bottom: rem(42); 
    line-height: 1.17;
    letter-spacing: rem(-0.9px);
   a{

     color: #ffffff !important;
     text-decoration: none !important;
    }
  }
  &__nav-block{
    position: relative;
    z-index: 2;
    padding-bottom: rem(20);
      &::before{
        content: '';
        width: 200vw;
        top: 0;
        position: absolute;
        @include media-breakpoint-up(xxxl) {
          // left: rem(0);
          left: -88px; 
        }
        @include media-breakpoint-up(lg) {

          left: -25px; 
        }
        left: -50%;
        // @include a-cent(x);
       z-index: -1;
       @include media-breakpoint-up(sm) {

         background-color: #000000;
        }
       height: 100%;
      //  margin-left: -10px;
      }
    }
    .main-nav{

      background-color: #000000;
    position: relative;
    z-index: 2;
    @include media-breakpoint-up(sm) {

      display: block;
    }
    display: none;
    top: auto;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: rem(15);

  }
  &__copy{
    @include media-breakpoint-up(sm) {

      text-align: right;
    }
    font-size: rem(12);
    color: #ed1c24;
    letter-spacing: -0.12px;
  }

  .soc{ 
    .icon{ 
      font-size: rem(22px); 
      &-vk{
        font-size: rem(15);
      } 
    } 
  }
   

  &--page{
    .footer__text{
      @include rfs(rem(24));
    }
    .inner-row{
      @include roww(26);
    }
    @include media-breakpoint-up(xxxl) {
      .container{
        max-width: 1700px;
      }
    }
    .footer__nav-block{
      padding-top: rem(30);
    }
  }
// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}


// 
@include media-breakpoint-between(md, xl) {}


// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}


// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}
}
