mixin footer-main()
	+b.FOOTER.footer--main.block-with-lazy
		.container
			+b.section-title
				+e.H2.lg  КОНТАКТЫ
			+e.row.row
				.col-xxxl-6.col-lg-5
					+e.map-wrap
						+e.map#map1(data-img="img/svg/mark.svg")
				+e.right-col.col
					+e.contact-block
							+b.section-title
								+e.sm  АДРЕС ШОУ-РУМА
							.row
								.col
									+e.text 197229, Санкт-Петербург, Лахтинский проспект, 83, к.&nbsp;2.
									+e.text 
										a(href="tel:(812)648-21-36") (812) 648-21-36
									+e.text 
										a(href="mailto:alum@bissectrisa.ru") alum
											span.text-primary @ 
											|bissectrisa.ru
								.col-sm-auto
									+soc
					+e.nav-block
						+mnu()
						+e.copy © 2002 — 2019 КОМПАНИЯ БИССЕКТРИСА
mixin footer()
	+b.FOOTER.footer.block-with-lazy
		.container
			
