.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-left {
	font-size:(15/10)*1rem;
	width:(19/15)*1em;
}
.icon-arrow-long-right {
	font-size:(12/10)*1rem;
	width:(23/12)*1em;
}
.icon-arrow-right {
	font-size:(15/10)*1rem;
	width:(19/15)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-chevron-down {
	font-size:(7.56/10)*1rem;
	width:(12.58/7.56)*1em;
}
.icon-fb {
	font-size:(17.82/10)*1rem;
	width:(10.24/17.82)*1em;
}
.icon-inst {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-insta {
	font-size:(17.25/10)*1rem;
	width:(17.25/17.25)*1em;
}
.icon-play {
	font-size:(444.44/10)*1rem;
	width:(500/444.44)*1em;
}
.icon-star {
	font-size:(13/10)*1rem;
	width:(14/13)*1em;
}
.icon-tel {
	font-size:(11.96/10)*1rem;
	width:(11.96/11.96)*1em;
}
.icon-vk {
	font-size:(11.78/10)*1rem;
	width:(21.06/11.78)*1em;
}
.icon-whatsapp {
	font-size:(19/10)*1rem;
	width:(19/19)*1em;
}
