mixin s-vacancy()
	// start s-vacancy
	+b.SECTION.s-vacancy.section.lazy-background#s-vacancy&attributes(attributes)
		.container
			+b.section-title
				+e.H2.sm ВАКАНСИИ
			.title В&nbsp;наш дружный коллектив требуются
				span.text-primary :
			
			+e.row
				mixin item(t, t1, t2,t3,t4)
					+e.col
						+e.item
							+e.head
								+e.title ДОЛЖНОСТЬ:
								+e.title-head= t
							+e.body
								+e.title  УСЛОВИЯ РАБОТЫ:
								+e.text= t1
								+e.title  ТРЕБОВАНИЯ:
								+e.text= t2 
								+e.title  ЗАРПЛАТА:
								+e.text= t3
								+e.title  ЗВОНИТЬ ПО ТЕЛЕФОНУ:
								+e.text
									a(href="tel:+7(812)648-21-35") +7 (812) 648-21-35 
				+item('Монтажник оконных систем','Полный рабочий день. Официальное  трудоустройство.','Опыт работы не менее 5 лет.','40 000 руб.')  
				+item('Менеджер отдела продаж ','Полный рабочий день. Официальное  трудоустройство. ','Высшее образование. Опыт работы не менее  5 лет. ','65 000 руб. ')  
				+item('Начальник производственного участка ',' Полный рабочий день. Официальное  трудоустройство.','Высшее техническое образование. Опыт работы  не менее 5 лет. ','50 000 руб. ')  
				+item('Водитель ','Не полный рабочий день. ','Водительский стаж не менее 3 лет. ','35 000 руб. ')  
				+item('Уборщица ','Не полный рабочий день. ','Трудолюбие. ','25 000 руб. ') 
	// end s-vacancy