mixin s-rews()
	// start s-rews
	+b.SECTION.s-rews.section.lazy-background#s-rews&attributes(attributes)
		+e.head.container
			+b.section-title
				+e.H2.sm ОТЗЫВЫ
				+e.lg  ОТЗЫВЫ
			.title Мы ценим Ваше мнение
				span.text-primary .
		+e.body
			.container
				+e.slider-wrap
					+e.slider--js
						mixin item(t,p)
							+e.slide
								+e.item
									+e.head-slide
										.row
											+e.title.col= t
											.col-auto
												+b.star-block
													+icon('star',' star-active')
													+icon('star',' star-active')
													+icon('star',' star-active')
													+icon('star',' star-active')
													block
									+e.caption
										p= p
						+item("Сергей Б.",'Хочу поблагодарить сотрудников компании  «Биссектриса» - менеджера Молчанова Никиту  и установщика - Федора Третьяка (бригада "Ф")  за отличную работу. Спасибо Никите за точный  замер и квалифицированную консультацию,  а Федору Третьяку - за безукоризненную  ОТЛИЧНУЮ установку «под ключ»!')
							+icon('star',' star-active')
						+item("Марина М.",'Очень довольны, что заказали окна именно в  этой компании. При более низкой по сравнению  с другими цен - качество, сервис и сроки на  высшем уровне. Выражаем благодарность  бригаде "Р" во главе с бригадиром Мурашко  Сергеем. Очень порадовало, что ребята не  торопятся сделать по-быстрее, "для галочки",  а делают все на совесть.')
							+icon('star',' star-active')
						+item("Ирина П.",'Заказала окно в офисе на Луначарского, 54.  Оформление договора прошло  квалифицированно, спасибо менеджеру  Михаилу. Окно изготовили и доставили за 5  дней. Приехали в удобное для меня время.  Установка прошла быстро и почти без пыли  и грязи, несмотря на то, что окно  устанавливалось в доме-сталинке. Одним  словом - профессионалы!')
							+icon('star',' star-active')
						+item("Ирина П.",'Заказала окно в офисе на Луначарского, 54.  Оформление договора прошло  квалифицированно, спасибо менеджеру  Михаилу. Окно изготовили и доставили за 5  дней. Приехали в удобное для меня время.  Установка прошла быстро и почти без пыли  и грязи, несмотря на то, что окно  устанавливалось в доме-сталинке. Одним  словом - профессионалы!')
							+icon('star ')
	// end s-rews