mixin s-progress()
	// start s-progress
	+b.SECTION.s-progress.section.lazy-background#s-progress&attributes(attributes)
		.container
			+e.inner
				+b.section-title
					+e.H2.sm ДОСТИЖЕНИЯ
				.title На&nbsp;сегодняшний день компания  &laquo;Биссектриса&raquo;&nbsp;- это
					span.text-primary :
				.row
					.col-xxl-5.col-lg-6
						ol
							li Собственное полностью автоматизированное производство,  оснащенное передовым оборудованием ведущих мировых  производителей. Полностью автоматизированные линии  позволяют производить более 15&nbsp;000 кв.метров  высококачественных изделий в&nbsp;месяц;
							li Одна из&nbsp;крупнейших розничных сетей Санкт-Петербурга  и&nbsp;Ленинградской области. &laquo;Биссектриса&raquo;&nbsp;&mdash; одна из&nbsp;самых  стабильных и&nbsp;крупнейших розничных сетей в&nbsp;Северо-Западном  регионе;
							li Собственный штат высококвалифицированных монтажных  бригад. На&nbsp;настоящий момент штат компании насчитывает более  50&nbsp;монтажных бригад, сертифицированных Межрегиональным  институтом окна;
							li Собственный автопарк, испытательный центр, гарантийный  отдел.
					.col
						+e.row.row
							+e.col.col-auto
								p Произвели пластиковых  и&nbsp;алюминиевых конструкций
								.h2.text-dark 1 735 000 +
								p квадратных метров
							
							+e.col.col-auto
								p Установили окон
								.h2.text-dark 380 000 +
								p штук
							
							+e.col.col-auto
								p Готовы рекомендавать нас своим друзьям и&nbsp;знакомым
								.h2.text-dark 97% +
								p наших клиентов
							
	// end s-progress