.s-team {
	&__col-left{
		@include media-breakpoint-up(xxxl) {
			
			padding-left: rem(78);
		}
	}
	.title{
		margin-bottom: rem(70);
	}
	&__row{
		padding-top: rem(10);
		// @include roww()
		@include media-breakpoint-up(xxxl){
			// padding-left: rem(20);
			margin-left: -50px;
		}
		@include media-breakpoint-down(xs) {
	@include roww(10);
		} 
	}
	&__text-block{
		max-width: rem(540);
	}
	&__col{
		@include media-breakpoint-up(sm) {

			margin-bottom: rem(27);
		}
		margin-bottom: rem(20);
	}
	&__item{
		position: relative;
		height: 100%;
	}
	&__caption{
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;

		text-align: center;
		flex-direction: column;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($color: #cb2f26, $alpha: .8);
		color: #000000;
		letter-spacing: rem(-0.18px);
		line-height: 1.2;
		@include mt;
		opacity: 0;
		padding: rem(10);
	
	}
	&__item:hover &__caption{
		opacity: 1;
	}

		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}