mixin s-news-page()
	// start s-news-page
	+b.SECTION.s-news-page.section.lazy-background#s-news-page&attributes(attributes)
		.container
			.row.align-items-center
				.col-lg
					+b.section-title
						+e.H1.sm НОВОСТИ
						.title Подписывайтесь на&nbsp;нас, чтобы всегда быть в&nbsp;курсе наших новостей
							span.text-primary !
				.col-lg-auto
					+soc()
				.col.d-none.d-lg-block
			+e.head
				+e.head-item: a(href="#")   2019   
				+e.head-item: a.active(href="#")   2018  
				+e.head-item: a(href="#")    2017   
				+e.head-item: a(href="#")  2016    
				+e.head-item: a(href="#") 2015
			+e.row.row
				mixin item(i, t, d,p)
					+e.col.col-xl-4.col-md-6
						+e.img-wrap.bg-wrap(href="#")
							+pic(`news-page-${i}.jpg`,'bg','lazy',0)(class="picture-bg")
						+e.title
							a(href="#")= t
						+e.date.h6= d
						p= p
					// /+e.col.col-xl-4.col-md-6
				+item("1","Утепление фасадного остекления","15 Марта 2019",'Рады сообщить Вам о том, что теперь в компании  "БИССЕКТРИСА" можно заказать не только окна и двери, но и  замену холодного фасадного утепления на теплое!  Замена...')
				+item("2",'С Новым 2019 годом и Рождеством!','28 Декабря 2018','Компания "БИССЕКТРИСА" от всей души поздравляет Вас с  Новым 2019 годом и Рождеством!  Желаем Вам, чтобы 2019 год принес много ярких событий...')
				+item("3",'Режим работы в Новогодние праздники','27 Декабря 2018','Уважаемые посетители! Режим работы компании  "Биссектриса" на Новогодние праздники: 31 декабря 2018 - 3 января 2019 - выходные дни, 4 января...')
				+item("4",'Открытие офиса продаж класса “Премиум” в Лахте','1 Августа 2018','В конце июля 2017 года компания «БИССЕКТРИСА» открыла восьмой офис продаж. Новый салон площадью почти 200 кв...')
				+item("5",'Наши сотрудники посетили производство РСК','23 Октября 2018','Сегодня для сотрудников нашей компании состоялась экскурсия на производство поставщика стеклопакетов...')
				+item("6",'С Новым 2018 годом и Рождеством!','29 Декабря 2017','Дорогие посетители! Компания "БИССЕКТРИСА" от всей души поздравляет Вас с наступающим Новым 2018 годом и Рождеством. Желаем Вам в Новом году здоровья, удачи...')
				+item("7",'Режим работы компании в праздники','28 Декабря 2017','Рады сообщить Вам о том, что теперь в компании "БИССЕКТРИСА" можно заказать не только окна и двери, но и замену холодного фасадного утепления на теплое!  Замена...')
				+item("8",'Подтверждаем лидерство: третий год подряд мы №1','16 Ноября 2017','Компания "БИССЕКТРИСА" признана ЛИДЕРОМ ОТРАСЛИ - 2016! Третий год подряд мы подтверждаем звание "ЛИДЕРА...')
	// end s-news-page