extends layout/main.pug


include ../blocks/s-content/_s-content.pug 
include ../blocks/s-artical/_s-artical.pug 
//- include ../blocks/s-about/_s-about.pug
//- include ../blocks/s-gal/_s-gal.pug
//- include ../blocks/s-logos/_s-logos.pug
//- include ../blocks/s-rews/_s-rews.pug
//- include ../blocks/s-news/_s-news.pug
block variables
	- let  mainPage= null
block title
	- let  title= '106_a'
	title= title

block pagecontent
 
	+mob-mnu()
	+header()
		+top-line()
		+top-nav()
	.container
		+pic("Layer_147.jpg")
	+s-artical
	+footer()