extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-history/_s-history.pug
include ../blocks/s-progress/_s-progress.pug
include ../blocks/s-team/_s-team.pug
include ../blocks/s-production/_s-production.pug
include ../blocks/s-vacancy/_s-vacancy.pug 
//- include ../blocks/s-about/_s-about.pug
//- include ../blocks/s-gal/_s-gal.pug
//- include ../blocks/s-logos/_s-logos.pug
//- include ../blocks/s-rews/_s-rews.pug
//- include ../blocks/s-news/_s-news.pug
block variables
	- let  mainPage= null
block title
	- let  title= '110_a'
	title= title

block pagecontent
 
	+mob-mnu()
	+header()
		+top-line()
		+top-nav()
	+header-block-110_a()

	// start s-content
	+b.s-content.section.block-with-lazy#zamer&attributes(attributes)
		.container.container--xxxl
			.row
				.col-xl-8
					+b.section-title
						+e.H2.sm ЗАМЕР
					.title От&nbsp;правильно проведенного замера, зависит качество конечного результата.
						span.text-primary .
					.column-2 
						p От&nbsp;того, насколько правильно произведен замер проема, и&nbsp;спроектированы узлы примыканий, зависит конечный внешний вид и&nbsp;качество работы раздвижных конструкций.
						p Замеры в&nbsp;нашей компании выполняют штатные высококвалифицированные инженеры, с&nbsp;опытом работы по&nbsp;данному направлению свыше 10&nbsp;лет.
						p Обязанности инженера&nbsp;&mdash; внимательно ознакомиться с&nbsp;особенностями проекта, учесть Ваши пожелания по внешнему виду помещения и&nbsp;фасада после установки конструкций и&nbsp;отделки, дать рекомендации по&nbsp;подготовке проема, установке скрытых отопительных приборов(конвекторов, системы подогрева пола), предложить оптимальное решение по&nbsp;выбору заполнения(стеклопакета) с&nbsp;учетом особенностей расположенияздания, типа помещения, требований по&nbsp;тепло и шумоизоляции.
						p Также инженер оценит доступность подъездных путей для доставки и&nbsp;способ подъема крупногабаритных изделий на место установки.
						p По&nbsp;окончании работ, инженер составит подробный замерный лист и&nbsp;техническое задание на&nbsp;производство конструкций.
				.col
					+pic("Layer_137.jpg")
	// end s-content
	+s-production-110_a
	+s-content-110_a

	+b.s-content.section.block-with-lazy#gar&attributes(attributes)
		.container
			+e.inner: +e.inner-wrapper
				+b.section-title
					+e.H2.sm ГАРАНТИЯ
				.row.row--md
					.col-xl-8
						.title Безусловная и&nbsp;бесплатная гарантия в&nbsp;компании БИССЕКТРИСА&nbsp;&mdash; это
							span.text-priamry :
						.row
							.col-lg-6.text-dark.fw-500
								ul
									li Собственный штат гарантийных мастеров.
									li Аттестация специалистов в Межрегиональном Институте Окна.
									li Качественное и быстрое обслуживание.
									li Прием заявок 24/7 через форму на сайте, прием заявок ежедневно по телефону.
									li Постгарантийное обслуживание клиентов.
									li Ремонт механических повреждений светопрозрачных конструкций.
									li Замена вышедших из строя элементов (разбитые стеклопакеты и прочее).
							.col-lg-6
								p При выборе компании, в&nbsp;которой можно заказать пластиковые окна или алюминиевые конструкции, к&nbsp;сожалению, не&nbsp;все обращают внимание на&nbsp;срок гарантии, предоставляемой производителем. Тем не&nbsp;менее, это очень важно для эксплуатации, потому что любые пластиковые окна, двери, алюминиевые конструкции&nbsp;&mdash; это сложные изделия, состоящие из&nbsp;множества элементов, часть из которых со&nbsp;временем подвергается механическому износу.
								.border-primary
									p  При заказе окон обращайте внимание на&nbsp;сроки гарантии на&nbsp;монтаж. В&nbsp;компании БИССЕКТРИСА срок гарантии на изделия и&nbsp;на&nbsp;монтаж составляет 
										strong до&nbsp;10&nbsp;лет 
										| в&nbsp;зависимости от&nbsp;вида монтажа.
					.col-xl-4.col-lg-6.order-xl-first.order-xxl-0.order-lg-0.order-last
						+pic("Layer_165_copy.jpg",'bg','lazy',0)
					+e.mt-1.col-xl-4.col-lg-6
						h4 В&nbsp;компании БИССЕКТРИСА гарантийный срок составляет 
							| 
							span.text-primary до&nbsp;10&nbsp;лет!
						br
						
						p Базовые сроки гарантии зависят от&nbsp;вида монтажа и&nbsp;составляют:
						ul
							li На&nbsp;окна с&nbsp;монтажом 
								strong СТАНДАРТ  
								| 
								| гарантийный срок составляет 
								strong.text-primary 5&nbsp;лет
							li На&nbsp;окна с&nbsp;монтажом 
								strong С&nbsp;ЛЕНТАМИ 
								| 
								|  гарантийный срок составляет 
								strong.text-primary 7&nbsp;лет
							li На&nbsp;окна с&nbsp;монтажом 
								strong ЛЮКС  
								| 
								| гарантийный срок составляет 
								strong.text-primary 10&nbsp;лет
					+e.mt-1.col-xl-4.col-lg-6
						.h4
							img.res-i(src="img/svg/Bissectrisa_Icon_32.svg", alt="")
						br
						p
							strong.text-dark  Выезд гарантийного мастера в&nbsp;пределах зоны бесплатного обслуживания НЕ&nbsp;ТАРИФИЦИРУЕТСЯ.
						p Выезд специалиста за&nbsp;пределы зоны бесплатного обслуживания оплачивается согласно действующим тарифам.
						br
						.row
							.col Выезд специалиста за&nbsp;город 
								strong менее 50&nbsp;км 
								| 
								| от&nbsp;КПП 
							.fw-500.text-primary.col-auto 500&nbsp;р.
						
						.row
							.col Выезд специалиста за&nbsp;город 
								strong от&nbsp;50&nbsp;до&nbsp;100&nbsp;км
								| 
								|  от&nbsp;КПП 
							.fw-500.text-primary.col-auto 1000&nbsp;р.
						
						.row
							.col Выезд специалиста за&nbsp;город 
								strong от&nbsp;100 до&nbsp;150&nbsp;км 
								| 
								| от&nbsp;КПП 
							.fw-500.text-primary.col-auto 1500&nbsp;р. 
					+e.pt-3.s-content__mt-1.col-xl-4.col-lg-6.fw-500
						 
						p.text-dark Режим работы гарантийного отдела компании БИССЕКТРИСА:
							br
							| Пн-Пт: 10:00&nbsp;&mdash; 18:00
							br
							| Сб-Вс: выходные дни


						p.text-dark Вы&nbsp;можете записаться на&nbsp;гарантийное обслуживание по
							br
							a(href="tel:(812)385-54-06") тел. (812) 385-54-06
					
	//- +s-history
	//- +s-progress
	//- +s-team
	//- +s-production
	//- +s-vacancy
	//- +s-about
	//- +s-gal
	//- +s-logos
	//- +s-rews
	//- +s-news
	+footer()