mixin s-project-page()
	// start s-project-page
	+b.SECTION.s-project-page.section.lazy-background#s-project-page&attributes(attributes)
		.container
			+b.section-title
				+e.H1.sm НАШИ РАБОТЫ 
				.title Мы&nbsp;рады представить Вам наши готовые работы.
			mixin item(i,t,t1,t2,p)
				+b.s-project-item
					.row.no-gutters
						+e.img-wrap.col-lg-6
							+pic('project-page-' + i + '.jpg','bg')
						+e.col.col-lg-6
							+e.wrap
								+e.title= t
								+e.breadcrumb 
									strong= t1 
									= t2 
								p= p
								+e.btn.link-more(href='#') Узнать больше
									+icon("arrow-long-right")
			div
				+item("1","Раздвижные порталы ","Частный коттедж","/Всеволожск/","Здесь должно быть краткое описание проекта с перечнем объема выполненых работ и небольшим описанием локации проекта. Также может быть описание характерных особенностей данного проекта.")
				
				+item("2","Фасадное остекление","спортивный центр   ","/Сосновый Бор/","Здесь должно быть краткое описание проекта с перечнем объема  выполненых работ и небольшим описанием локации проекта.  Также может быть описание характерных особенностей данного  проекта.")
				
				+item("3","Подъемные панорамные окна","Частный коттедж   ","/Зеленогорск/","Здесь должно быть краткое описание проекта с перечнем объема  выполненых работ и небольшим описанием локации проекта.  Также может быть описание характерных особенностей данного  проекта.")
				
				+item("4","Зимний сад","частный коттедж  "," /Сертолово/","Здесь должно быть краткое описание проекта с перечнем объема выполненых работ и небольшим описанием локации проекта. Также может быть описание характерных особенностей данного проекта.")
				
				+item("5","Безрамное остекление","жилой комплекс  "," /Комарово/","Здесь должно быть краткое описание проекта с перечнем объема  выполненых работ и небольшим описанием локации проекта.  Также может быть описание характерных особенностей данного  проекта.")
				
				+item("6","Складные порталы","загородный клуб  "," /Лисий Нос/","Здесь должно быть краткое описание проекта с перечнем объема  выполненых работ и небольшим описанием локации проекта.  Также может быть описание характерных особенностей данного  проекта.")
	// end s-project-page