mixin s-product-body(t, n, org)
	// start s-product
	+b.SECTION.s-product.section.lazy-background#s-product&attributes(attributes)
		.container.container--xxxl
			+b.section-title
				+e.H2.sm ПРОДУКЦИЯ 
				if !n

					+b.links
						if !org
							+e.item
								a(href="#").active ДЛЯ ЗАГОРОДНЫХ ДОМОВ 
							
							+e.item
								a(href="#") ДЛЯ ОРГАНИЗАЦИЙ
						else
							+e.item
								a(href="#") ДЛЯ ЗАГОРОДНЫХ ДОМОВ 
						
							+e.item
								a(href="#").active ДЛЯ ОРГАНИЗАЦИЙ
			.row.row--lg
				.col-lg-6
					.title= t
				block
	// end s-product
mixin s-product()
	+s-product-body('Подъемные панорамные окна')
		.col-lg-6
			p.fw-500.text-dark Уникальная система подъемно-сдвижного портала VEKA SLIDE позволяет  легко и свободно управлять створками шириной до 3 метров и весом до 400 кг.  Сдвинуть массивную створку под силу даже ребенку! 
			p Панорамные двери VEKA SLIDE позволяют остеклять проемы шириной до 6,5 метров.  Безбарьерный теплый порог обеспечивает безопасность и комфортное  передвижение. Коэффициент теплоизоляции системы составляет  0,8 Вт/м2С, что  соответствует классу энергоэффективности А+. Панорамные двери VEKA SLIDE  подарят Вашему дому индивидуальность и неповторимый стиль.
		.col-lg-6
			h4 Порталы VEKA SLIDE
			br 
			h5 
				span.text-primary Торжество технологий. 
				|
				|  Превосходство стиля
			br 
			p Система панорамных подъемно-сдвижных дверей VEKA SLIDE&nbsp;&mdash; инновационная  разработка компании VEKA. Уникальная система позволяет остеклять проемы  шириной до&nbsp;6&nbsp;метров, а&nbsp;благодаря совершенной системе фурнитуры створки весом  до&nbsp;400&nbsp;кг легко управляются движением пальцев!
			br
			br
			.row.row--md
				.col-auto.icon-block 
					img(src="img/svg/Bissectrisa_Icon_26.svg", alt="")
					| ТЕХНОЛОГИЧНОСТЬ
				
				.col-auto.icon-block 
					img(src="img/svg/Bissectrisa_Icon_27.svg", alt="")
					| СТИЛЬ

		.col-lg-6.text-center
			+pic("prod-1.jpg")
	
mixin s-product-109_b()
	+s-product-body('Алюминиевые окна и двери')
		.col-lg-6
			p.fw-500.text-dark Алюминиевые окна и&nbsp;двери устойчивы к&nbsp;перепадам температур, климатическим воздействиям, механическим повреждениям, ультрафиолету.
			p Благодаря уникальным свойствам алюминия, алюминиевые входные двери успешно  конкурируют на&nbsp;рынке с&nbsp;деревянными, пластиковыми и&nbsp;стальными дверями. Кроме того, данные двери обладают широкими возможностями для интеграции в  витраж, входные группы, офисные перегородки, и&nbsp;в&nbsp;стандартные стеновые проемы. Алюминиевые двери отличаются высокой надежностью, и&nbsp;рассчитаны на&nbsp;высокие  нагрузки и&nbsp;интенсивную эксплуатацию. Алюминиевые двери могут быть выполнены в&nbsp;&laquo;теплом&raquo; и&nbsp;&laquo;холодном&raquo; варианте.
			br
			br
		.col-lg-6
			h4 ОКНА
			br 
			h5 
				span.text-primary Торжество технологий. 
				|
				|  Превосходство стиля
			br 
			p Кроме спортивных сооружений, административных зданий, торговых и&nbsp;офисных  центров&nbsp;&mdash; алюминиевые окна с&nbsp;успехом применяются при строительстве  и&nbsp;реконструкции жилья. Алюминиевые окна&nbsp;&mdash; такие&nbsp;же теплые, как и&nbsp;ПВХ-окна, но&nbsp;обладают более высокими  эксплуатационными характеристиками и&nbsp;надежностью. Алюминиевые окна позволяют реализовать любую задумку архитектора. Возможность изготовления конструкций с&nbsp;большой площадью остекления, окраска  порошковыми эмалями в&nbsp;любой цвет RAL, а&nbsp;также десятки декоров под дерево,  придадут уникальный вид квартире или частному дому.
			p В&nbsp;алюминиевых окнах используется высококачественная фурнитура,  обеспечивающая долгую, четкую и&nbsp;беспроблемную работу изделия.
			p Алюминий&nbsp;&mdash; полностью перерабатываемый, экологичный материал, не&nbsp;выделяющий  вредных веществ.

		.col-lg-6.text-center
			+pic("Layer_214.jpg")
	

