mixin s-history()
	// start s-history
	+b.SECTION.s-history.section.lazy-background#s-history&attributes(attributes)
		.container
			.row
				+e.left-col.col-lg-8
					+b.section-title
						+e.H2.sm ИСТОРИЯ
					.title Год за&nbsp;годом мы&nbsp;совершенствуемся, чтобы предлагать Вам самые инновационные оконные решения
						span.text-primary .
					p Одной из&nbsp;основных стратегий компании является  стремление к&nbsp;инновациям и&nbsp;внедрение всех передовых  технологий, предложенных оконной индустрией. Так, в&nbsp;2005  году компания первой среди оконных компаний стала  использовать в&nbsp;своем производстве энергосберегающие  стеклопакеты, а&nbsp;с&nbsp;2008 года полностью перешла на  применение энергосберегающих технологии в&nbsp;каждом  произведенном окне. В&nbsp;2011 году &laquo;Биссектриса&raquo;  первой в&nbsp;России произвела и&nbsp;установила подъемно- сдвижной портал VEKA SLDIE. С&nbsp;2010 года и&nbsp;по&nbsp;сей день мы&nbsp;&mdash;  единственная компания в&nbsp;России, которая предлагает  уникальную технологию монтажа с&nbsp;полным выравниванием  проема и&nbsp;использованием 4-х паро-гидроизоляционных  лент. С&nbsp;2015 года компания &laquo;Биссектриса&raquo; предлагает всем  своим клиентам передовые Теплопакеты&nbsp;2.0&nbsp;с функцией  климат-контроля.
				.col
					+pic("history-img.jpg",'','lazy',0)
	// end s-history