
mixin mob-mnu()
	//- +b.toggle-menu-mobile--js.d-lg-none
	//- 	span
	+b.menu-mobile--js.d-xxl-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
		
			+mnu()
			.text-right
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.row.row
				.col-xxl-auto.col-xl.col-auto
					.top-nav__nav-toggle(class="toggle-menu-mobile--js")
						+e.nav-toggle-gum
							img.res-i.d-none.d-sm-inline(src="img/svg/Bissectrisa_Icon_02.svg", alt="")
						//- +icon("chevron-down")
						+mnu()
				.col-xl-auto.col.order-xl-first
					+e.logo(href="#")
						img.res-i(src="img/svg/logo.svg", alt="")
				.col.d-none.d-xxl-block
					+e.UL.nav
						+e.LI.nav-item
							+e.nav-link.active(href="#") О КОМПАНИИ 
						
						+e.LI.nav-item
							+e.nav-link(href="#") НАШИ РАБОТЫ
						
						+e.LI.nav-item
							+e.nav-link(href="#") ШОУ-РУМ


				.col-auto.d-none.d-xl-block
					+e.link.link-modal(href="#modal-calc")
						img.res-i(src="img/svg/calculator.svg", alt="") 
						| ПОЛУЧИТЬ РАСЧЕТ
				
				.col-auto.d-none.d-xl-block
					+e.link.link-modal(href="#modal-measure")
						img.res-i(src="img/svg/order.svg", alt="")
						| ЗАЯВКА НА&nbsp;ЗАМЕР
				.col-auto
					+e.btn.link-modal(href="#modal-call")

						+icon("email")
						.d-none.d-lg-inline ОБРАТНЫЙ ЗВОНОК
				+e.tel-col.col-auto
					+e.tel(href="tel:(812)648-21-36") 
						+icon("tel")
						.d-none.d-md-inline (812) 648-21-36
				.col-auto
					+soc("t")
	// end top-nav