mixin header-block()
	// start header-block
	+b.header-block#header-block
		.container
			.row.no-gutters
				
				+e.left-col.col-auto
					+e.UL.nav
						+e.LI.item
							+e.link(href="#") АЛЮМИНИЕВЫЕ ОКНА&nbsp;И&nbsp;ДВЕРИ
						-
							var list = ["РАЗДВИЖНЫЕ ПОРТАЛЫ","СКЛАДНЫЕ ПОРТАЛЫ","АЛЮМИНИЕВЫЕ ВИТРАЖИ","ЗИМНИЕ САДЫ","БЕЗРАМНОЕ ОСТЕКЛЕНИЕ","ПОДЪЕМНЫЕ ПАНОРАМНЫЕ ОКНА","ЭКСКЛЮЗИВ","АВТОМАТИКА"]
						each item in list
							+e.LI.item
								+e.link(href="#")= item
					+e.control-wrap
				+e.col.col
					+e.slider--js
						- for (var x = 1; x < 4; x++)
							mixin slide()
								+e.slide.bg-wrap
									block
									+e.caption
										+e.top-text Наши работы
										+e.title.text-white РАЗДВИЖНЫЕ ПОРТАЛЫ 
										+e.H2.sm 
											span.text-white ЧАСТНЫЙ КОТТЕДЖ 
											|
											|    /ЗЕЛЕНОГОРСК/
										+e.link-more.link-more(href="#") Узнать больше
											+icon("arrow-long-right")
							if x== 1
								+slide()
									img(src=`img/@2x/header-slide-${x}.jpg`, alt="")
							else
								+slide()
									img(src="#" data-lazy=`img/@2x/header-slide-${x}.jpg`, alt="")
			+e.dots-wrap
	// end header-block

mixin header-block-body-left(i, t)
	// start header-block
	+b.header-block--page#header-block
		.container
			.row.no-gutters
				+e.img-wrap.col-lg-6
					+pic(i,'bg','')(class="picture-bg")
				.col-lg-6 
					+e.text-block
						+b.section-title
							+e.H2.sm= t
						block
	// end header-block

mixin header-block-02()
	+header-block-body-left("head-02.jpg", 'О КОМПАНИИ') 
		.title Наша команда работает, чтобы предлагать Вам наилучшие решения
			span.text-primary .
		p Компания &laquo;Биссектриса&raquo; более 16&nbsp;лет занимается производством, продажей  и&nbsp;установкой окон в&nbsp;Санкт-Петербурге. Накопленный опыт производства,  а&nbsp;также современные производственные линии, оснащенные высокоточным  немецким оборудованием, многоступенчатый контроль качества, позволяют нам  предлагать высококачественные пластиковые и&nbsp;деревянные окна  по&nbsp;максимально конкурентным ценам, свидетельством чему являются  многочисленные положительные отзывы и&nbsp;благодарности наших клиентов.  По&nbsp;мнению многих клиентов мы&nbsp;производим, продаем и&nbsp;устанавливаем лучшие  окна в&nbsp;Санкт-Петербурге.
		nav
			ul
				li: a.scroll-link(href="#s-history") История       
				li: a.scroll-link(href="#s-progress")  Достижения      
				li: a.scroll-link(href="#s-team")  Команда       
				li: a.scroll-link(href="#s-production")   Производство      
				li: a.scroll-link(href="#s-vacancy") Вакансии
	// end header-block

mixin header-block-body(i)
	// start header-block
	+b.header-block--img#header-block
		.container
			+pic(i)
	// end header-block


mixin header-block-107_a()
	+header-block-body-left("107_a.jpg", 'ШОУ-РУМ') 
		.title Широкий ассортимент, представленный в&nbsp;нашем Шоу-руме, вдохновит на смелые архитектурные решения
			span.text-primary .
		.text-wrap
			p Нестандартные конструкции, широко представленные в&nbsp;салоне, вдохновят на&nbsp;смелые архитектурные решения. Заказ примут внимательные менеджеры, способные проконсультировать по&nbsp;всем вопросам на&nbsp;пути к&nbsp;желанному  дизайну. Опытные технологи сотворят любую конструкцию под заказ  и&nbsp;претворят в&nbsp;жизнь мечты каждого архитектора, дизайнера и&nbsp;владельца  загородной недвижимости.
	// end header-block

mixin header-block-110_a()
	+header-block-body-left("head-02.jpg", 'УСЛУГИ')  
		.title Мы&nbsp;стремимся учесть все  пожелания клиента, предлагая  самое лучшее решение.
			span.text-primary .
		.text-wrap
			p При заказе алюминиевых панорамных раздвижных дверей и&nbsp;окон, первым и&nbsp;самым ответственным шагом для будущих клиентов является консультация нашего специалиста, в&nbsp;ходе которой клиент получает правильное представление о&nbsp;различных системах дверей, их&nbsp;характеристиках, особенностях монтажа и&nbsp;дальнейшей эксплуатации. 
			p Каждый объект&nbsp;&mdash; индивидуален, и&nbsp;мы&nbsp;стремимся учесть все пожелания клиента, предлагая самое лучшее решение по&nbsp;раздвижному остеклению.
		nav
			ul
				li: a.scroll-link(href="#s-history") Замер 
				li: a.scroll-link(href="#s-progress")   Проектирование 
				li: a.scroll-link(href="#s-team")  Монтаж 
				li: a.scroll-link(href="#s-production")   Гарантия
	// end header-block