mixin s-content()
	// start s-content
	+b.s-content.section.block-with-lazy#s-content&attributes(attributes)
		.container.container--xxxl
			+b.section-title
				+e.H2.sm VEKA SLIDE 
			.title Лучше один раз увидеть
				span.text-primary ... 
			+e.main-row.row
				.col-lg-6
					+pic("content-1.jpg")
				.col
					.pr-88
						p.fw-500.text-dark Помимо стандартных портальных систем, которые можно найти в&nbsp;любом офисе &laquo;Биссектрисы&raquo;, showroom в&nbsp;Лахте позволяет клиентам увидеть уникальную систему VEKA SLIDE с&nbsp;автоматическим управлением в&nbsp;действии.
						h5 Легко
						p Даже самые массивные створки VEKASLIDE можно с&nbsp;легкостью открыть, не  прикладывая дополнительных усилий. Подъемно-раздвижной механизм позволяет  сначала, повернув ручку, приподнять створку на&nbsp;несколько миллиметров вверх, а  затем легко и&nbsp;быстро сдвинуть створку в&nbsp;сторону. Инновационная фурнитура  позволяет легко управлять самыми широкими створками. Это под силу даже  ребенку! Еще никогда панорамное остекление не&nbsp;было таким элегантным и  лёгким&nbsp;&mdash; и, одновременно, таким надёжным и&nbsp;простым.
						h5 Стильно
						p Панорамные двери VEKASLIDE дарят Вашему дому индивидуальность, шарм, и  неповторимое чувство стиля. Раздвижные двери особенно популярны в  проектировании и&nbsp;строительстве частных домов, владельцы которых не&nbsp;желают  оставаться в&nbsp;рамках стандартных решений. С&nbsp;их&nbsp;помощью можно закрыть проём  шириной до&nbsp;шести метров. И, конечно&nbsp;же, традиционные козыри VEKA:  разнообразие цветового исполнения, конфигураций, великолепная эстетика и  высочайшая функциональность.
			+e.main-row.row
				.col-lg-6
					.pl-88
						h5 Тепло
						p Двери VEKASLIDE&nbsp;&mdash; это ТЕПЛОЕ панорамное остекление для Вашего дома.  Двухконтурное уплотнение по&nbsp;всему периметру створок делает панорамное решение  VEKASLIDE по-настоящему герметичным. Специальная конструкция безбарьерного  порога с&nbsp;двойным термическим разделением и&nbsp;эффективным теплоизолирующим  вкладышем обеспечивает превосходную теплоизоляцию. В&nbsp;системе VEKASLIDE  предусмотрена возможность установки стеклопакета толщиной до&nbsp;42&nbsp;мм.  Герметичность конструкции позволяет сохранять необходимое тепло внутри  помещения зимой и&nbsp;прохладу летом.
						h5 Безопасно
						p Быть дома&nbsp;&mdash; значит, чувствовать себя в&nbsp;покое и&nbsp;безопасности. И, одновременно,  ощущать себя независимым и&nbsp;свободным, открытым к&nbsp;новым впечатлениям,  которые дарит нам окружающий мир. Панорамные двери VEKASLIDE открывают  для Вас все грани комфорта и&nbsp;дарят его новое ощущение. Они могут сделать  Вашу гостиную частью Вашего сада, открыв ее&nbsp;для свежего воздуха&nbsp;&mdash; и&nbsp;они  надёжно защищают Ваш дом от&nbsp;холода, ветра, непогоды и&nbsp;непрошенных гостей  (в&nbsp;случае с&nbsp;последними в&nbsp;системе VEKASLIDE предусмотрена возможность  дополнительного повышения противовзломных свойств конструкции).
				.col
					+e.row-gal.row
						- for (var x = 2; x < 6; x++)
							+e.img-wrap.col-6
								a(href=`img/@2x/content-${x}.jpg` data-fancybox="gallery")
									+pic(`content-${x}.jpg`,"bg",'lazy','440px') 
						
	// end s-content
mixin s-content-110_a()
	// start s-content
	+b.s-content.section.block-with-lazy#s-content&attributes(attributes)
		.container.container--xxxl
			+b.section-title
				+e.H2.sm МОНТАЖ
			.title Доверяйте работу профессионалам
				span.text-primary !
			+e.main-row.row
				.col-lg-6
					+pic("Layer_149.jpg")
				.col
					.pr-88
						p.fw-500.text-dark Длительный срок службы алюминиевых панорамных дверей, их&nbsp;безотказную и&nbsp;эффективную работу можно обеспечить только при условии выполнения качественного и&nbsp;профессионального монтажа.
				 
						p Панорамные раздвижные двери зачастую имеют очень большие размеры и&nbsp;вес, и&nbsp;любое отклонение от&nbsp;монтажных допусков, неточное выставление рамы раздвижной двери и&nbsp;ее&nbsp;неправильная фиксация в&nbsp;проеме, неизбежно приведет к&nbsp;проблемам при дальнейшей эксплуатации. 
						p Чтобы панорамные двери радовали Вас своей безупречной службой долгие годы, монтажные работы стоит доверить только профессионалам, имеющим опыт работы с&nbsp;данными конструкциями.
						p Общие требования к&nbsp;выполнению монтажных швов узлов примыканий панорамных дверей к&nbsp;стеновым проемам те-же, что и&nbsp;для обычных оконных и&nbsp;дверных блоков, т.е. монтаж производится с&nbsp;соблюдением всех строительных норм и&nbsp;соответствующих ГОСТов.
						p При монтаже применяются только высококачественные материалы, в&nbsp;том числе обеспечивающие возможность качественной установки конструкций при отрицательных наружных температурах.
						p Монтажники нашей компании, кроме опыта, располагают всеми техническими средствами и&nbsp;специализированной техникой для осуществления монтажа любого уровня сложности.
			+e.main-row.row
				.col-lg-6
					.pl-88
						h4 Подготовка к&nbsp;проведению монтажных работ
						p.fw-500.text-dark В&nbsp;большинстве случаев, монтаж панорамных раздвижных дверей осуществляется в&nbsp;день доставки.
						p При монтаже конструкций в&nbsp;частном доме, организационные вопросы занимают немного времени, и&nbsp;самое важное&nbsp;&mdash; обеспечение подъезда транспорта к&nbsp;месту разгрузки и&nbsp;проведения монтажных работ.
						p  В&nbsp;случае монтажа раздвижных дверей в&nbsp;многоквартирном жилом доме&nbsp;&mdash; есть ряд нюансов, которые необходимо уточнить до&nbsp;момента доставки.
						p  Ввиду больших габаритов конструкций и&nbsp;значительного веса, необходимо согласовать способ подъема конструкций на&nbsp;этаж:
						ul.text-dark.fw-500
							li на&nbsp;грузовом лифте
							li  ручной подъем по&nbsp;лестнице
							li  с&nbsp;использованием крана/лебедок, устанавливаемых на&nbsp;крыше здания 
						p  Третий вариант&nbsp;&mdash; самый трудоемкий с&nbsp;точки зрения организации процесса, т.к. требует согласования проведения работ с&nbsp;органами местного самоуправления, обеспечение ограждения придомовой территории на&nbsp;период установки оборудования и&nbsp;подъема конструкций.
						p  Эти вопросы заказчик должен решить самостоятельно заранее.
						p  В&nbsp;процессе монтажа строительный мусор собирается нашими монтажниками и&nbsp;выноситься на&nbsp;лестничную площадку многоквартирного дома или на придомовую территорию частного дома.
						p  Предусмотрите место для складирования мусора до&nbsp;начала монтажа.
						p  Очень важно, чтобы был обеспечен доступ для проведения работ, в&nbsp;том числе для беспрепятственного перемещения конструкций, стеклопакетов к&nbsp;месту установки.
						p  Во&nbsp;время приемки конструкций и&nbsp;выполнения монтажных работ необходимо присутствие заказчика. Определяйте время доставки и&nbsp;монтажа на&nbsp;тот день, когда вы&nbsp;сможете быть дома.
				.col
					+e.row-gal.row
						- for (var x = 1; x < 6; x++)
							+e.img-wrap.col-6
								a(href=`img/@2x/content-110-${x}.jpg` data-fancybox="gallery")
									+pic(`content-110-${x}.jpg`,"bg",'lazy','440px') 
						
	// end s-content

