.s-content {
	h5{
		color: $dark;
	}
	&__main-row{
		@include media-breakpoint-up(xxl)  {

			@include roww(36);
		}
	}
	 &__row-gal{
		@include media-breakpoint-up(xxl) {

			@include roww(47 / 2);
		}
		@include media-breakpoint-up(md) {
			@include roww(30 / 2);
			
		}
		@include roww(20 / 2);
		 padding-top: rem(30);
	 }
	 &__img-wrap{
		@include media-breakpoint-up(xxl) {

			margin-bottom: rem(47);
		}
		@include media-breakpoint-up(md) {

			margin-bottom: rem(30);
		}
		margin-bottom: rem(20);
	 }
	 .title{
		 margin-bottom: rem(66);
	 }
	 + .footer{
		 margin-top: rem(60);
	 }

	 &__inner{
		 background-color: #f5f5f5;
		 padding: rem(86) rem(20);
		 &-wrapper{
			 margin-left: auto;
			 margin-right: auto;
			 max-width: 1640px;
		 }
	 }

	 .h6{
		 line-height: 1.6;
	 }
	 .fw-400 {
		 font-weight: normal;
	 }

	 ul{
		list-style-type: none;
		li{
			position: relative;
			padding-left: rem(20);
			margin-bottom: rem(5);
			&::before{
				content: '';
				width: rem(6);
				height: rem(6);
				position: absolute;
				left: 0;top: rem(12);
				// color: $primary;
				background-color: $primary;
	
			}
		}
	}
	//
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 
	
}
.pr-88{
	@include media-breakpoint-up(xxl) {

		padding-right: rem(88);
	}
	
	@include media-breakpoint-up(xl) {

		padding-right: rem(88  / 2);
	}

}
.pl-88{
	@include media-breakpoint-up(xxl) {

		padding-left: rem(88);
	}
	
	@include media-breakpoint-up(xl) {

		padding-left: rem(88 / 2);
	}

}
