mixin s-artical()
	// start s-artical
	+b.SECTION.s-artical.section.lazy-background#s-artical&attributes(attributes)

		.container
			+e.head
				h1 Открытие офиса продаж класса “Премиум” в Лахте
				+e.date 1 Августа 2017
			+e.wrap
				h6 В конце июля компания «Биссектриса» открыла восьмой офис продаж. В новом салоне представлены портальные системы и нестандартные конструкции для загородных домов. Офис находится по адресу: Лахтинский проспект, 85 лит В в торговом комплексе Гарден Plus. 

				p Благодаря удачному расположению, добраться в офис из коттеджных поселков Курортного района,  Сестрорецка и Зеленогорска стало возможным, минуя городские пробки.
				+pic("Layer_152.jpg")
				h5 VEKA SLIDE
				p Помимо стандартных портальных систем, которые можно найти в любом офисе «Биссектрисы»,  showroom в Лахте позволяет клиентам увидеть уникальную систему VEKA SLIDE с автоматическим  управлением в действии.
				+pic("Layer_151.jpg")
				p Новый салон удивляет и одной из самых крупных в Санкт-Петербурге выставок алюминиевых конструкций. Фасадное остекление, алюминиевые окна, двери, порталы.
				h5 Квалифицированное обслуживание
				p Нестандартные конструкции, широко представленные в салоне, вдохновят на смелые  архитектурные решения. Заказ примут внимательные менеджеры, способные проконсультировать  по всем вопросам на пути к желанному дизайну. Опытные технологи сотворят любую конструкцию  под заказ и претворят в жизнь мечты каждого архитектора, дизайнера и владельца загородной  недвижимости.
				+pic("Layer_154.jpg")
				+pic("Layer_156.jpg")
				p Приходите, мы ждем Вас!
				+e.pagination
					+e.link(href="#") &lt; Предыдущая
					+e.link(href="#") Следующая >
	// end s-artical