.s-our-work {
		//  padding-top: rem(20);
		@include bg("project.png");
		background-repeat: no-repeat;
		background-size: rem(575);
		background-position: left rem(-150px);
	&__img-wrap{
		z-index: 2;
		display: block;
		&--sm{
			
			@include block(341,247);
			opacity: 0.6;
			@include mt;
			&:hover{
				opacity: 1;
			}
		}
		&--lg{
			@include block(804,525);
			@include media-breakpoint-up(lg) {

				margin-right: rem(-90);
			} 
		}
	}

	&__row{
		@include media-breakpoint-down(xs) {
			@include roww(10);
		} 
		@include media-breakpoint-up(lg) {

			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
		// grid-template-rows: 1fr 1fr 1fr;
	}

	&__gal-col{
		@include media-breakpoint-up(lg) {

			max-width: 100%;
		}
		margin-bottom: rem(30);
		&--text{
			@include media-breakpoint-up(lg) {

				grid-area: 3 / 1 / 4 / 3;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
			h4{
				margin-bottom: rem(30);
				letter-spacing: rem(-1.05px);
			}
			p{
				max-width: rem(530);
			}
			// align-self: center;
		}
		@include media-breakpoint-up(lg) {

			&--last{
				
				grid-area: 2 / 3 / 4 / 5;
			}
		}
	}
	.title{
		margin-bottom: rem(15);
	}
	&__breadcrumb{
		strong{
			text-transform: uppercase;
		}
		color: #939393;
		@include media-breakpoint-up(lg) {

			padding-bottom: rem(60);
		}
		padding-bottom: rem(30);
		// margin-bottom: rem(40);
	}
	p{
		max-width: rem(645);
		padding-bottom: rem(20);
	}

	&__table-wrap{
		@include media-breakpoint-up(lg) {

			margin-left: auto;
			max-width: rem(527);
			margin-top: rem(-140);
		}
		background-color: #2d2d2d;
		color: #ffffff;
		color: #ffffff;
		@include media-breakpoint-up(sm) {

			padding: rem(75) rem(62) rem(58);
		}
		padding: rem(75) rem(22) rem(58);
		// margin-right: rem(5);
		margin-bottom: rem(55);
	}
	&__head{
		padding-bottom: rem(55);
	}
	&__table-col{ 
		font-weight: 500; 
		letter-spacing: rem(-0.18px);
		color: #ffffff;
		// Text style for "Локация ,"
		&--text{
			
		}
		&--right{
			
			text-align: right;
		}
		&--left{
			font-size: rem(16px);
			color: #c4c4c4;
			letter-spacing: rem(-0.16px);
			text-align: left;

		}
	}
	&__table-row{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: rem(16);
		padding-bottom: rem(16);
		&:not(:last-child){

			border-bottom: 1px solid #666666;
		}
	}

	@include media-breakpoint-up(xxl) {
		.container{
			max-width: 1480px;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}